<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sample</title>
	<style type="text/css">
		
		button
		{
			font-size: 20px;
			padding: 10px 10px;
		}
		a
		{
			color: black;
		}
	</style>

</head>
<body >
	<table align="center">
		<tr><th colspan="2"><h1><a href="{{ url_for('n_f')}}">
	ನಾಮಪದ</a>:</h1></th></tr>
	<tr><th>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/nf';">Inflectional Form</button></th><th>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/ns';">Specific Form</button></th></tr><br><br>
	<tr><th colspan="2"><h1><a href="{{ url_for('p_f')}}"> ಸರ್ವನಾಮ</a>:</h1></th></tr><tr><th>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/pf';">Inflectional Form</button></th><th>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/ps';">Specific Form</button></th></tr><br><br>
	<tr><th colspan="2"><h1><a href="{{ url_for('v_f')}}"> ಕ್ರಿಯಾಪದ</a>:</h1></th></tr><tr><th>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/vf';">Inflectional Form</button></th><th>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/vs';">Specific Form</button></th></tr>
	</table>
</body>
</html>