<!DOCTYPE html>
<html>
<head>
	<title>Verb Inflextion form</title>
</head>
<body bgcolor="grey"><br><br><br><br>
	<table align="center" border="border">
		<tr>
			<th></th>
			<th>Singular</th>
			<th>Plural</th>
			<th>Singular</th>
			<th>Plural</th>
			<th>Singular</th>
			<th>Plural</th>
			<th>Singular</th>
			<th>Plural</th>
			<th>Singular</th>
			<th>Plural</th>
		</tr>
		<tr>
			<th>R series</th>
			<th>{{ a }}</th>
			<th>{{ aa }}</th>
			<th>{{ aas }}</th>
			<th>{{ ad }}</th>
			<th>{{ af }}</th>
			<th>{{ ag }}</th>
			<th>{{ ah }}</th>
			<th>{{ aj }}</th>
			<th>{{ ak }}</th>
			<th>{{ al }}</th>
		</tr>
		<tr>
			<th>F series</th>
			<th>{{ q }}</th>
			<th>{{ qw }}</th>
			<th>{{ qe }}</th>
			<th>{{ qr }}</th>
			<th>{{ qt }}</th>
			<th>{{ qy }}</th>
			<th>{{ qu }}</th>
			<th>{{ qi }}</th>
			<th>{{ qo }}</th>
			<th>{{ qp }}</th>
		</tr>
		<tr>
			<th>S series</th>
			<th>{{ z }}</th>
			<th>{{ zz }}</th>
			<th>{{ x }}</th>
			<th>{{ xx }}</th>
			<th>{{ c }}</th>
			<th>{{ cc }}</th>
			<th>{{ v }}</th>
			<th>{{ vv }}</th>
			<th>{{ b }}</th>
			<th>{{ bb }}</th>
		</tr>
	</table>
	<br><p align="center">
	<button align="center" onclick="window.location.href = 'http://127.0.0.1:5000';">Back</button>
	</p>
</body>
</html>