<!DOCTYPE html>
<html>
<head>
	<title>Noun</title>
</head>
<body>
	<h1><center> ನಾಮಪದ </center></h1><br><br><br>
	<p><h3><pre>ಭಾಷೆಯಲ್ಲಿನ ಬಗೆ ಬಗೆಯ ಹೆಸರುಗಳ ತಿಳಿಸುವುದೇ ನಾಮಪದ ಅಥವಾ ಯಾವುದೇ ಒಂದು ವಸ್ತು ಸ್ಥಳ , ಪ್ರಾಣಿ , ಮನುಷ್ಯರ ಹೆಸರುಗಳನ್ನು ಸೂಚಿಸುವುದೇ ನಾಮಪದ.
ಭಾಷಾಶಾಸ್ತ್ರದಲ್ಲಿ, ಒಂದು ನಾಮಪದ ವು ಒಂದು ದೊಡ್ಡ, ಮುಕ್ತ ನಿಘಂಟಿನ ವರ್ಗದ ಒಂದು ಸದಸ್ಯನಾಗಿದ್ದು, ಸದರಿ ನಿಘಂಟಿನ ವರ್ಗದ ಸದಸ್ಯರು ವಾಕ್ಯಾಂಶವೊಂದರ ಕರ್ತೃಪದ, 
ಕ್ರಿಯಾಪದವೊಂದರ ಕರ್ಮ, ಅಥವಾ ಉಪಸರ್ಗವೊಂದರ ಕರ್ಮದಲ್ಲಿನ ಮುಖ್ಯ ಪದವಾಗಿ ಸಂಭವಿಸಲು ಸಾಧ್ಯವಿದೆ.

ನಿಘಂಟಿನ ವರ್ಗಗಳ ಸದಸ್ಯರು, ಅಭಿವ್ಯಕ್ತಿಗಳ ಇತರ ಬಗೆಗಳೊಂದಿಗೆ ಹೇಗೆ ಬೆರೆಯುತ್ತವೆ ಎಂಬುದರ ಪರಿಭಾಷೆಯಲ್ಲಿ ನಿಘಂಟಿನ ವರ್ಗಗಳು ವ್ಯಾಖ್ಯಾನಿಸಲ್ಪಡುತ್ತವೆ. 
ನಾಮಪದಗಳಿಗೆ ಸಂಬಂಧಿಸಿದ ವಾಕ್ಯರಚನೆಯ ನಿಯಮಗಳು ಭಾಷೆಯಿಂದ ಭಾಷೆಗೆ ಬದಲಾಗುತ್ತವೆ. ಇಂಗ್ಲಿಷ್‌ ಭಾಷೆಯಲ್ಲಿ, ನಾಮಪದಗಳನ್ನು ವ್ಯಾಖ್ಯಾನಿಸುವಾಗ, ಗುಣವಾಚಿಗಳು ಹಾಗೂ 
ಗುಣವನ್ನು ಸೂಚಿಸುವ ಗುಣವಾಚಕಗಳೊಂದಿಗೆ ಸಂಭವಿಸಬಲ್ಲ ಮತ್ತು ನಾಮಪದದ ವಾಕ್ಯಾಂಗವೊಂದರ ಪ್ರಧಾನಭಾಗವಾಗಿ ಕಾರ್ಯನಿರ್ವಹಿಸಬಲ್ಲ ಪದಗಳಾಗಿ ನಾಮಪದಗಳು 
ವಿವರಿಸಲ್ಪಡುತ್ತವೆ.ಸಾಂಪ್ರದಾಯಿಕ ಇಂಗ್ಲಿಷ್‌ ವ್ಯಾಕರಣದಲ್ಲಿ, ನಾಮಪದವು ಎಂಟು ಪದವರ್ಗ ವಾಚಕಗಳಲ್ಲಿ ಒಂದೆನಿಸಿಕೊಂಡಿದೆ.

<h2>ನಾಮಪದ ವಿಂಗಡಣೆ 

ವಸ್ತುವಾಚಕ</h2>
ವ್ಯಕ್ತಿ ವಸ್ತುಗಳ ಹೆಸರನ್ನು ಹೇಳುವ ಶಬ್ದಗಳೆಲ್ಲ ವಸ್ತುವಾಚಕಗಳು.
1)ರೂಢನಾಮ
ರೂಢನಾಮ ಎಂದರೆ ರೂಢಿಯಿಂದ ಬಂದ ಸಾಮಾನ್ಯವಾಚಕಗಳು.
ಉದಾಹರಣೆ - ನದಿ,ಮನುಷ್ಯ ,ಹೆಂಗಸು,ಹುಡುಗ, ದೇಶ ಇತ್ಯಾದಿ.
2)ಅಂಕಿತನಾಮ
ಅಂಕಿತನಾಮ ಎಂದರೆ ವ್ಯವಹಾರದ ಉಪಯೋಗಕ್ಕೆ ಇಟ್ಟುಕೊಂಡ  ಹೆಸರುಗಳೆಲ್ಲ ಅಂಕಿತ ನಾಮಗಳು.
ಉದಾಹರಣೆ -ಕಾವೇರಿ ,ಹಿಮಾಲಯ, ರಾಮ ,ಸಾವಿತ್ರಿ,ಕರ್ನಾಟಕ.
3)ಅನ್ವರ್ಥಕನಾಮ
ಅನ್ವರ್ಥಕನಾಮ ಎಂದರೆ ಅರ್ಥಕ್ಕೆ ಅನುಗುಣವಾಗಿ ಇಟ್ಟ ಹೆಸರುಗಳೆಲ್ಲ ಅನ್ವರ್ಥಕ ನಾಮಗಳು.
ಉದಾಹರಣೆ - ಕುಂಟ ,ಕಿವುಡ, ವ್ಯಾಪಾರಿ ,ರೋಗಿ ಇತ್ಯಾದಿ 

<h2>ಗುಣವಾಚಕ </h2>
ವಸ್ತು,ವ್ಯಕ್ತಿ,ಮೊದಲಾದವುಗಳ ಗುಣ, ರೀತಿ ,ಸ್ವಭಾವಗಳನ್ನು ತಿಳಿಸುವ ರೂಪಗಳು ಗುಣವಾಚಕಗಳು.
1) ಸಂಖ್ಯಾವಾಚಕಗಳು- ಸಂಖ್ಯೆಯನ್ನು ಹೇಳುವ ಶಬ್ದಗಳೆಲ್ಲ ಸಂಖ್ಯಾವಾಚಕಗಳು
ಉದಾಹರಣೆಗೆ:-ಒಂದು, ಎರಡು, ಹತ್ತು, ಸಾವಿರ, ಲಕ್ಷ-ಇತ್ಯಾದಿಗಳು.
(ಒಂದು ಮನೆ, ಎರಡು ಕುದುರೆ, ಸಾವಿರ ಆನೆ - ಹೀಗೆ ಸಂಖ್ಯಾವಾಚಕಗಳು ಗುಣವಾಚಕಗ ಳಂತೆ ನಾಮಪದಗಳಿಗೆ ವಿಶೇಷಣಗಳೂ ಆಗಿರುತ್ತವೆ).

2) ಸಂಖ್ಯೇಯವಾಚಕಗಳು
ಮೂವರು ಮಕ್ಕಳು, ನಾಲ್ವರು ಶಾಸ್ತ್ರಿಗಳು, ಐವರು ವಿದ್ಯಾರ್ಥಿಗಳು-ಎಂಬ ಈ ವಾಕ್ಯಗಳಲ್ಲಿ ಮೂವರು, ನಾಲ್ವರು, ಐವರು ಮೊದಲಾದ ಶಬ್ದಗಳು ಈ ಲೆಕ್ಕದ ಸಂಖ್ಯೆಯಿಂದ ಕೂಡಿದ 
ವಸ್ತುಗಳನ್ನು ತಿಳಿಸುತ್ತದಲ್ಲವೆ? ಇಂಥ ಶಬ್ದಗಳಿಂದ ಸಂಖ್ಯೆಯೂ, ವಸ್ತುಗಳೂ ತಿಳಿವಳಿಕೆಗೆ ಬರುತ್ತವೆ.
 ಸಂಖ್ಯೆಯಿಂದ ಕೂಡಿದ ವಸ್ತುಗಳನ್ನು ಹೇಳುವ ಶಬ್ದಗಳೆಲ್ಲ ಸಂಖ್ಯೇಯವಾಚಕಗಳೆನಿಸುವುವು.
ಉದಾಹರಣೆಗೆ:-
ಸಂಖ್ಯೆ	ಸಂಖ್ಯೇಯ
ಮೂರು	ಮೂವರು, ಮೂರನೆಯ
ಎರಡು	ಇಬ್ಬರು, ಎರಡನೆಯ
ಐದು	ಐವರು, ಐದನೆಯ

3) ಭಾವನಾಮಗಳು
ವಸ್ತುಗಳ ಮತ್ತು ಕ್ರಿಯೆಯ ಭಾವವನ್ನು ತಿಳಿಸುವ ಶಬ್ದಗಳೆಲ್ಲ ಭಾವನಾಮಗಳೆನಿಸುವುವು.
ಬಿಳಿದರ ಭಾವ – ಬಿಳುಪು (ತದ್ಧಿತಾಂತ ಭಾವನಾಮ)
ಕರಿದರ ಭಾವ – ಕಪ್ಪು   (ತದ್ಧಿತಾಂತ ಭಾವನಾಮ)
ಹಿರಿದರ ಭಾವ – ಹಿರಿಮೆ (ತದ್ಧಿತಾಂತ ಭಾವನಾಮ)
ಪಿರಿದರ ಭಾವ – ಪೆರ‍್ಮೆ=(ಹೆಮ್ಮೆ) (ತದ್ಧಿತಾಂತ ಭಾವನಾಮ)
ನೋಡುವುದರ ಭಾವ – ನೋಟ (ಕೃದಂತ ಭಾವನಾಮ)
ಮಾಡುವುದರ ಭಾವ – ಮಾಟ (ಕೃದಂತ ಭಾವನಾಮ)
ಕೊಡುವುದರ ಭಾವ – ಕೂಟ  (ಕೃದಂತ ಭಾವನಾಮ)
ಇದರ ಹಾಗೆ-ಬೆಳ್ಪು (ಹಳೆಗನ್ನಡ), ಕರ್ಪು (ಹಳೆಗನ್ನಡ), ಕೆಂಪು=ಕೆಚ್ಚನೆಯದರ ಭಾವ, ಪೆಂಪು (ಹಳೆಗನ್ನಡ) ಇವನ್ನೂ ತಿಳಿಯಬಹುದು.

4) ಪರಿಮಾಣ ವಾಚಕಗಳು
(೧) ಅಷ್ಟು ದೊಡ್ಡ ಕಲ್ಲು (೨) ಇಷ್ಟು ಜನರ ಗುಂಪು (೩) ಎಷ್ಟು ಕಾಸುಗಳು? – ಇತ್ಯಾದಿ ವಾಕ್ಯಗಳಲ್ಲಿ ಅಷ್ಟು, ಇಷ್ಟು, ಎಷ್ಟು - ಇತ್ಯಾದಿ ಶಬ್ದಗಳು ಒಂದು ಗೊತ್ತಾದ ಅಳತೆ, 
ಸಂಖ್ಯೆಯನ್ನು ಹೇಳುವುದಿಲ್ಲ, ಅಂದರೆ ನಿರ್ದಿಷ್ಟಪಡಿಸಿದ ಅಳತೆ, ಸಂಖ್ಯೆ ಇಲ್ಲಿ ಇಲ್ಲ.  ಇಂಥ ಶಬ್ದಗಳು ಕೇವಲ ಪರಿಮಾಣಗಳನ್ನು ಮಾತ್ರ ತಿಳಿಸುತ್ತವೆ.  ಇಂಥ ಶಬ್ದಗಳನ್ನೇ ಪರಿಮಾಣ 
ವಾಚಕಗಳು ಎನ್ನುತ್ತಾರೆ.
ವಸ್ತುಗಳ ಸಾಮಾನ್ಯ ಅಳತೆ, ಪರಿಮಾಣ, ಗಾತ್ರ - ಇತ್ಯಾದಿಗಳನ್ನು ಹೇಳುವ ಶಬ್ದಗಳು ಪರಿಮಾಣವಾಚಕಗಳೆನಿಸುವುವು.
ಉದಾಹರಣೆಗೆ:-ಅಷ್ಟು, ಇಷ್ಟು, ಹಲವು, ಕೆಲವು, ಅನಿತು, ಇನಿತು, ಎನಿತು, ಪಲವು-ಇತ್ಯಾದಿಗಳು.
ಪರಿಮಾಣಕ್ಕೆ:- ಹಲವು ದಿನಗಳು, ಕೆಲವು ಊರುಗಳು-ಇತ್ಯಾದಿ.
ಗಾತ್ರಕ್ಕೆ:- ಗುಡ್ಡದಷ್ಟು, ಆನೆಯಷ್ಟು, ಪಲ್ಲದನಿತು-ಇತ್ಯಾದಿ.
ಅಳತೆಗೆ:- ಅಷ್ಟು ದೂರ, ಇಷ್ಟು ಪುಸ್ತಕಗಳು-ಇತ್ಯಾದಿ.

5) ಪ್ರಕಾರವಾಚಕಗಳು
(೧) ಅಂಥ ಮನುಷ್ಯನುಂಟೇ? (೨) ಅಂತಹ ವಿಚಾರ ಬೇಡ. (೩) ಎಂಥ ಬಣ್ಣ. (೪) ಇಂಥವರೂ ಉಂಟೇ? – ಇತ್ಯಾದಿ ವಸ್ತುಗಳ ಸ್ಥಿತಿ, ರೀತಿಗಳನ್ನು ತಿಳಿಸುತ್ತವೆ.
ವಸ್ತುಗಳ ಸ್ಥಿತಿ ಅಥವಾ ರೀತಿಗಳನ್ನು ತಿಳಿಸುವ ಶಬ್ದಗಳೆಲ್ಲ ಪ್ರಕಾರವಾಚಕಗಳೆನಿಸುವುವು. ಇವೂ ಒಂದು ಬಗೆಯ ಗುಣವಾಚಕಗಳೇ ಅಹುದು.
ಉದಾಹರಣೆಗೆ:- ಅಂಥ, ಅಂಥಹುದು, ಇಂಥ, ಇಂಥದು, ಇಂಥಹುದು, ಎಂತಹ, ಎಂಥ, ಅಂಥವನು, ಅಂಥವಳು, ಅಂಥದು, ಅಂತಹನು, ಇಂತಹನು, ಅಂತಹುದು-ಇತ್ಯಾದಿ.

6) ದಿಗ್ವಾಚಕಗಳು
ದಿಕ್ಕುಗಳು (ನಿಟ್ಟುಗಳ) ಹೆಸರನ್ನು ಸೂಚಿಸುವ ಶಬ್ದಗಳೆಲ್ಲ ದಿಗ್ವಾಚಕಗಳೆ ನಿಸುವುವು.
ಉದಾಹರಣೆಗೆ:- ಉತ್ತರ, ದಕ್ಷಿಣ, ಪೂರ್ವ, ಪಶ್ಚಿಮ, ಈಶಾನ್ಯ, ವಾಯುವ್ಯ, ಆಗ್ನೇಯ, ನೈಋತ್ಯ, ಮೂಡಲು, ತೆಂಕಲು, ಬಡಗಲು, ಪಡುವಲು, ಆಚೆ, ಈಚೆ-ಇತ್ಯಾದಿಗಳು.
</pre></h3></p>
</body>
</html>