<!DOCTYPE html>
<html>
<head>
	<title>Inflection Word form</title>
</head>
<body bgcolor="grey">
<br><br><br>
<table border="border" align="center">
	<tr>
		<td rowspan="2">ವಿಭಕ್ತಿ</td>
		<td colspan="2">ವಚನ</td>
	</tr>
	<tr>
		<td>ಏಕವಚನ</td>
		<td>ಬಹುವಚನ</td>
	</tr>
	<tr>
		<td>ಪ್ರಥಮ<br>(Nominative)</td>
		<td>{{ in1 }}</td>
		<td>{{ in2 }} </td>
	</tr>
	<tr>
		<td>ದ್ವಿತೀಯ<br>(Accusative)</td>
		<td>{{ in3 }}</td>
		<td>{{ in4 }} </td>
	</tr>
	<tr>
		<td>ತೃತೀಯ<br>(Instrumental)</td>
		<td>{{ in5 }}</td>
		<td>{{ in6 }} </td>
	</tr>
	<tr>
		<td>ಚತುರ್ಥಿ<br>(Dative)</td>
		<td>{{ in7 }}</td>
		<td>{{ in8 }} </td>
	</tr>
	<tr>
		<td>ಪಂಚಮಿ<br>(Ablative)</td>
		<td>{{ in9 }}</td>
		<td>{{ in10 }} </td>
	</tr>
	<tr>
		<td>ಷಷ್ಠಿ<br>(Genitive)</td>
		<td>{{ in11 }}</td>
		<td>{{ in12 }} </td>
	</tr>
	<tr>
		<td>ಸಪ್ತಮಿ<br>(Locative)</td>
		<td>{{ in13 }}</td>
		<td>{{ in14 }} </td>
	</tr>
</table>
<br><p align="center">
	<button align="center" onclick="window.location.href = 'http://127.0.0.1:5000';">Back</button>
	
	</p>
</body>
</html>