<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sample</title>
	<link rel="stylesheet" href="as.css">
</head>
<body bgcolor="grey">
<form align="center" method="POST" action="/ns1">
	<br><br><br><br><br><br><br><br><br><br><br><br><br>
	<h2>Enter the Word(ಪದವನ್ನು ಬರೆಯಿರಿ):  <input type="text" name="word" size="40"></h2>
		<a href="http://kannada.changathi.com/" target="_blank">For kannada word</a>

	<h2>Enter Vachana(ವಚನ):  <select name="ca">
  <option value="P1">ಪ್ರಥಮ(ಏಕವಚನ)</option>
  <option value="P2">ಪ್ರಥಮ(ಬಹುವಚನ)</option>
  <option value="P3">ದ್ವಿತೀಯ(ಏಕವಚನ)</option>
  <option value="P4">ದ್ವಿತೀಯ(ಬಹುವಚನ)</option>
  <option value="P5">ತೃತೀಯ(ಏಕವಚನ)</option>
  <option value="P6">ತೃತೀಯ(ಬಹುವಚನ)</option>
  <option value="P7">ಚತುರ್ಥಿ(ಏಕವಚನ)</option>
  <option value="P8">ಚತುರ್ಥಿ(ಬಹುವಚನ)</option>
  <option value="P9">ಪಂಚಮಿ(ಏಕವಚನ)</option>
  <option value="P10">ಪಂಚಮಿ(ಬಹುವಚನ)</option>
  <option value="P11">ಷಷ್ಠಿ(ಏಕವಚನ)</option>
  <option value="P12">ಷಷ್ಠಿ(ಬಹುವಚನ)</option>
  <option value="P13">ಸಪ್ತಮಿ(ಏಕವಚನ)</option>
  <option value="P14">ಸಪ್ತಮಿ(ಬಹುವಚನ)</option>
</select></h2>
	<h2><input type="submit" name="Submit"></h2>
</form>	
</body>
</html>