<!DOCTYPE html>
<html>
<head>
	<title>Pronoun</title>
	
</head>
<body>
	<h1><center>ಸರ್ವನಾಮ </center></h1><br><br><br>
	<p><h3><pre> ಶ್ರೀರಾಮನು ಕಾಡಿಗೆ ಹೋದನು.  ಅವನ ಸಂಗಡ ಸೀತಾಲಕ್ಷ್ಮಣರೂ ಹೊರಟರು.  ಅವರು ಅಲ್ಲಿ ಪರ್ಣಶಾಲೆಯಲ್ಲಿ ವಾಸಿಸುತ್ತಿದ್ದರು.
ಈ ವಾಕ್ಯಗಳಲ್ಲಿ ಅವನ ಸಂಗಡ ಎಂದರೆ ರಾಮನ ಸಂಗಡ ಎಂದು ಅರ್ಥ.  ಅವರು ಅಲ್ಲಿ ಎಂದರೆ ರಾಮಲಕ್ಷ್ಮಣಸೀತೆಯರು ಆ ಕಾಡಿನಲ್ಲಿ ಎಂದು ಅರ್ಥ.  ಅವನು, ಅವರು, ಅಲ್ಲಿ 
ಇತ್ಯಾದಿ ಶಬ್ದಗಳು ನಾಮಪದಗಳ ಸ್ಥಾನದಲ್ಲಿ ಬಳಸುವ ಬೇರೊಂದು ಬಗೆಯ ಶಬ್ದಗಳು.  ಹೀಗೆ ಸರ್ವ ವಸ್ತುವಾಚಕಗಳ ಸ್ಥಾನದಲ್ಲೂ ಅವಕ್ಕೆ ಬದಲಾಗಿ ಕೆಲವು ಬೇರೆ ಬಗೆಯ 
ಶಬ್ದಗಳನ್ನು ಪ್ರಯೋಗಿಸುತ್ತೇವೆ.  ಇಂಥ ಶಬ್ದಗಳೇ ಸರ್ವನಾಮಗಳು.

ವಸ್ತುವಾಚಕಗಳಾದ ನಾಮಪದಗಳ ಸ್ಥಾನದಲ್ಲಿ ನಿಂತು ಅವನ್ನು ಬೋಧಿಸುವ (ಸೂಚಿಸುವ) ಶಬ್ದಗಳೆಲ್ಲ ಸರ್ವನಾಮಗಳೆನಿಸುವುವು.

ಉದಾಹರಣೆಗೆ:- ಅದು, ಇದು, ಯಾವುದು, ಎಲ್ಲಾ (ಎಲ್ಲ), ಏನು, ಅವನು, ಇವನು, ಯಾವನು,  ಅವಳು,  ಇವಳು,  ಯಾವಳು,  ತಾನು, ತಾವು, ನೀನು, ನೀವು, ಆವುದು, ಆರು,
ಆರ್, ಏನು, ಏನ್, ಆಂ (ಆನ್), ನಾಂ (ನಾನ್), ನೀಂ (ನೀನ್) -ಇತ್ಯಾದಿಗಳು.
ಮೇಲಿನ ಉದಾಹರಣೆಗಳಲ್ಲಿ ಬಂದಿರುವ ಸರ್ವನಾಮಗಳನ್ನು ಮೂರು ಭಾಗ ಮಾಡಬಹುದು.
(೧) ಪುರುಷಾರ್ಥಕ ಸರ್ವನಾಮಗಳು.
(೨) ಪ್ರಶ್ನಾರ್ಥಕ ಸರ್ವನಾಮಗಳು.
(೩) ಆತ್ಮಾರ್ಥಕ ಸರ್ವನಾಮಗಳು.

೧. ಪುರುಷಾರ್ಥಕ ಸರ್ವನಾಮಗಳು
ಉದಾಹರಣೆಗೆ:-
(i)	ನಾನು-ನಾವು ಇವು ಉತ್ತಮ ಪುರುಷ ಸರ್ವನಾಮಗಳು.
(ii)	ನೀನು-ನೀವು ಇವು ಮಧ್ಯಮ ಪುರುಷ ಸರ್ವನಾಮಗಳು.
(iii)	ಅವನು-ಅವರು ಅವಳು-ಅವರು
ಅದು-ಅವು	ಇವು ಪ್ರಥಮ ಪುರುಷ ಸರ್ವನಾಮಗಳು

೨. ಪ್ರಶ್ನಾರ್ಥಕ ಸರ್ವನಾಮಗಳು
ಉದಾಹರಣೆಗೆ:- ಯಾವುದು, ಏನು, ಏತರದು, ಆವುದು, ಏನು, ಏನ್ ಇತ್ಯಾದಿಗಳು ಪ್ರಶ್ನಾರ್ಥಕ ಸರ್ವನಾಮಗಳು.  
(ಇವೆಲ್ಲ ಪ್ರಶ್ನೆಗೆ ಸಂಬಂಧಿಸಿದ ಸರ್ವನಾಮ ಶಬ್ದಗಳಾದ್ದರಿಂದ ಹಾಗೆ ಹೆಸರು).

೩. ಆತ್ಮಾರ್ಥಕ ಸರ್ವನಾಮಗಳು
ಉದಾಹರಣೆಗೆ:- ತಾನು-ತಾವು ಇವುಗಳನ್ನು ಆತ್ಮಾರ್ಥಕ ಸರ್ವನಾಮಗಳೆಂದು ಹೇಳುವುದು</pre>
</h3></p>
</body>
</html>