<!DOCTYPE html>
<html>
<head>
	<title>Verb</title>
	
</head>
<body>
	<h1><center> ಕ್ರಿಯಾಪದ </center></h1><br><br><br>
	<p><h3><pre>ಕ್ರಿಯಾಪ್ರಕೃತಿ (ಧಾತು)
ಈಗ ನಾಮಪದಗಳ ಹಾಗೆಯೇ ಇನ್ನೊಂದು ರೀತಿಯ ಪದಗಳ ವಿಚಾರವನ್ನು ತಿಳಿಯೋಣ.  ಪದವೆಂದರೆ ಪ್ರಕೃತಿಗೆ ಪ್ರತ್ಯಯ ಸೇರಿ ಆದ ಶಬ್ದರೂಪವೆಂದು ನಿಮಗೆ ತಿಳಿದಿದೆ.
(i) ತಾಯಿಯು ಅಡಿಗೆಯನ್ನು ಮಾಡುತ್ತಾಳೆ.
(ii) ತಂದೆಯು ಕೆಲಸವನ್ನು ಮಾಡಿದನು.
(iii) ಅಣ್ಣ ಊಟವನ್ನು ಮಾಡುವನು.
(iv) ದೇವರು ಒಳ್ಳೆಯದನ್ನು ಮಾಡಲಿ.
(vi) ಅವನು ನಾಳೆಯದಿನ ಮಾಡಾನು (ಮಾಡಿಯಾನು).
(vii) ಅವನು ಊಟವನ್ನು ಮಾಡನು.
ಮೇಲೆ ಇರುವ ವಾಕ್ಯಗಳಲ್ಲಿ ಗೆರೆ ಎಳೆದಿರುವ ಪದಗಳಾದ- ಮಾಡುತ್ತಾಳೆ, ಮಾಡಿದನು, ಮಾಡುವನು, ಮಾಡಲಿ, ಮಾಡಾನು (ಮಾಡಿಯಾನು), ಮಾಡನು -ಇವೆಲ್ಲ ಒಂದೊಂದು ಕ್ರಿಯೆಯು 
ಪೂರ್ಣಗೊಂಡ ಅರ್ಥಕೊಡುವಂಥ ಪದಗಳಾಗಿವೆ.  ಆದುದರಿಂದ ಹೀಗೆ ಪೂರ್ಣಗೊಂಡ ಒಂದು ಕ್ರಿಯೆಯ ಅರ್ಥಕೊಡುವ-ಪದಗಳನ್ನು ಸಾಮಾನ್ಯವಾಗಿ ಕ್ರಿಯಾಪದ ಎನ್ನುತ್ತೇವೆ.
ಮೇಲೆ ಹೇಳಿದ ಆರು ಕ್ರಿಯಾಪದಗಳಿಗೆಲ್ಲ ಮೂಲ ಮಾಡು ಎಂಬ ಶಬ್ದವಾಗಿದೆ.  ಇದು ಕ್ರಿಯೆಯ ಅರ್ಥವನ್ನು ಕೊಡುವ ಮೂಲ ರೂಪವೇ ಆಗಿದೆ.
ಮಾಡುತ್ತಾನೆ	
ಮಾಡಿದನು
ಮಾಡುವನು
ಮಾಡಲಿ
ಮಾಡಾನು
ಮಾಡನು
ಮಾಡು ಎಂಬ ಈ ಮೂಲರೂಪಕ್ಕೆ ಅನೇಕ ಪ್ರತ್ಯಯಗಳು ಸೇರಿದ ಮೇಲೆ ಅದು ವಿವಿಧ ರೂಪಗಳನ್ನು ಹೊಂದಿ ವಿವಿಧವಾದ ಕ್ರಿಯೆಯನ್ನು ಸೂಚಿಸುವ ಕ್ರಿಯಾಪದವಾಗುವುದು.  ಇಂಥ 
ಕ್ರಿಯಾಪದದ ಮೂಲರೂಪವನ್ನು ಕ್ರಿಯಾಪ್ರಕೃತಿ ಅಥವಾ ಧಾತು ಎನ್ನುವರು.  ಇದರ ಸೂತ್ರವನ್ನು ಮುಂದಿನಂತೆ ಹೇಳಬಹುದು.
ಕ್ರಿಯಾರ್ಥವನ್ನು ಕೊಡುವುದಾಗಿಯೂ, ಪ್ರತ್ಯಯವನ್ನು ಹೊಂದದೆಯೂ ಇರುವ ಶಬ್ದಕ್ಕೆ ಕ್ರಿಯಾಪ್ರಕೃತಿ ಅಥವಾ ಧಾತು ಎನ್ನುವರು.
ಇಂಥ ಧಾತುಗಳು ಎರಡು ವಿಧ.
ಮೂಲ ಧಾತು,	ಪ್ರತ್ಯಯಾಂತ ಧಾತು
(೧) ಮೂಲಧಾತುಗಳು- ಉದಾಹರಣೆಗೆ:- ಮಾಡು, ತಿನ್ನು, ಹೋಗು, ಬರು, ಮಲಗು, ಏಳು, ನಡೆ, ನೋಡು, ಓಡು, ನಿಲ್ಲು, ಓದು, ಆಗು, ಹೊಳೆ, ಬದುಕು, ಇಕ್ಕು, ಮುಗಿ, ತೂಗು, 
ಹಿಗ್ಗು, ನಡುಗು, ಮಿಂಚು, ಮೆಟ್ಟು, ಹಂಚು, ಅಂಜು, ಈಜು, ಉಜ್ಜು, ದಾಟು, ಹುಟ್ಟು, ಒಕ್ಕು, ತುಂಬು, ಮುಚ್ಚು, ಹಿಡಿ, ಕೊಡು, ಹರಡು, ಇಡು, ಪಡೆ, ಕುಣಿ, ಕಾಣು, ಸುತ್ತು, 
ಒತ್ತು, ಎತ್ತು, ಬಿತ್ತು, ತೆರು, ಒದೆ, ತಿದ್ದು, ಹೊಡೆ, ಬಡಿ, ಬರೆ, ನೆನೆ, ಎನ್ನು, ಒಪ್ಪು, ತಪ್ಪು, ನಂಬು, ಉಬ್ಬು, ಕಾ, ಬೇ, ಮೀ, ಮೇ, ಚಿಮ್ಮು, ಹೊಯ್, ಬಯ್, ಸುಯ್, ಕೊಯ್,
ತೆಯ್, ಸುರಿ, ಅರಿ, ಹೀರು, ಸೇರು, ಸೋಲು, ಹೊಲಿ, ಬಲಿ, ಹೇಸು, ಅರಸು, ಹುಡುಕು, ಬಳಸು, ಗುಡಿಸು, ಚೆಲ್ಲು, ತೊಳೆ, ಬೆಳಗು, ಬಡಿಸು, ಇಳಿ, ಏರು, ಹೊಗಳು, ತೆಗಳು, ಬಾಳು,
ಬೀಳು, ತಾಳು, ಎಳೆ, ಕಳಿ, ಸೆಳೆ, ತಿಳಿ, ಸುಳಿ, ಕೊರೆ-ಇತ್ಯಾದಿ.
ಮೇಲೆ ಹೇಳಿದವುಗಳಲ್ಲದೆ ಇನ್ನೂ ಅನೇಕ ಧಾತುಗಳಿವೆ.  ಈ ಎಲ್ಲ ಧಾತುಗಳಿಂದ ಆದ ವಿವಿಧ ಪ್ರತ್ಯಯಗಳನ್ನು ಹೊಂದಿ ವರ್ತಮಾನ, ಭೂತ, ಭವಿಷ್ಯತ್‌ಕಾಲಗಳಲ್ಲೂ ವಿಧ್ಯರ್ಥ, 
ಸಂಭಾವನಾರ್ಥ, ನಿಷೇಧಾರ್ಥಗಳಲ್ಲೂ ನಾವು ಅನೇಕ ಕ್ರಿಯಾಪದಗಳನ್ನು ಪ್ರತಿನಿತ್ಯ ಭಾಷೆಯಲ್ಲಿ ಬಳಸುತ್ತೇವೆ.
(೨) ಸಾಧಿತ ಧಾತು (ಪ್ರತ್ಯಯಾಂತ ಧಾತು)- ಒಮ್ಮೊಮ್ಮೆ ನಾವು ನಾಮಪ್ರಕೃತಿಗಳನ್ನೇ ಧಾತುಗಳನ್ನಾಗಿ ಮಾಡಿಕೊಂಡು ಕ್ರಿಯಾಪ್ರಕೃತಿಗಳಿಗೆ ಹತ್ತುವ ಪ್ರತ್ಯಯ ಹಚ್ಚಿ ಕ್ರಿಯಾಪದಗಳನ್ನಾಗಿ 
ಮಾಡಿ ಹೇಳುತ್ತೇವೆ.
ಉದಾಹರಣೆಗೆ:- ಅವನು ಆ ಗ್ರಂಥವನ್ನು ಕನ್ನಡಿಸಿದನು.  ಕನ್ನಡ ಎಂಬುದು ನಾಮಪ್ರಕೃತಿಯಾಗಿದೆ.  ಇದು ಧಾತುವಲ್ಲ.  ಇದರ ಮೇಲೆ ಇಸು ಪ್ರತ್ಯಯ ಹಚ್ಚಿ ಕನ್ನಡಿಸು ಎಂದು 
ಆಗುವುದಿಲ್ಲವೆ? ಹೀಗೆ ಕನ್ನಡಿಸು ಎಂದಾದ ಮೇಲೆ ಇದು ಧಾತುವೆನಿಸುತ್ತದೆ.  ಇದರ ಮೇಲೆ ಧಾತುಗಳ ಮೇಲೆ ಸೇರಬೇಕಾದ ಎಲ್ಲ ಪ್ರತ್ಯಯಗಳು ಸೇರಿ-ಕನ್ನಡಿಸುತ್ತಾನೆ, ಕನ್ನಡಿಸಿದನು, 
ಕನ್ನಡಿಸುವನು, ಕನ್ನಡಿಸಲಿ, ಕನ್ನಡಿಸಾನು, ಕನ್ನಡಿಸನು-ಇತ್ಯಾದಿ ಕ್ರಿಯಾಪದಗಳಾಗಿ ಬಳಸಲ್ಪಡುತ್ತವೆ.  ಇಂಥ ಧಾತುಗಳನ್ನೇ ನಾವು ಸಾಧಿತಧಾತು ಅಥವಾ ಪ್ರತ್ಯಯಾಂತಧಾತುಗಳೆಂದು 
ಕರೆಯುತ್ತೇವೆ

ಕ್ರಿಯಾಪದದ ಅರ್ಥ ರೂಪಗಳು 
(೧) ವಿಧ್ಯರ್ಥ (ವಿಧಿ+ಅರ್ಥ) ರೂಪಗಳು
(i) ದೇವರು ನಿನಗೆ ಒಳ್ಳೆಯದು ಮಾಡಲಿ.
(ii) ಅವರು ಪಾಠವನ್ನು ಓದಲಿ.
(iii) ನೀನು ಆ ಕೆಲಸವನ್ನು ಮಾಡು.
(iv) ಅವನಿಗೆ ಜಯವಾಗಲಿ.
(v) ಅವನು ಹಾಳಾಗಿ ಹೋಗಲಿ.
ಇಲ್ಲಿ ಮೇಲೆ ಬಂದಿರುವ ಮಾಡಲಿ, ಓದಲಿ, ಮಾಡು, ಆಗಲಿ, ಹೋಗಲಿ ಇತ್ಯಾದಿ ಕ್ರಿಯಾಪದಗಳಲ್ಲಿ- ದೇವರು ನಿನಗೆ ಒಳ್ಳೆಯದು ಮಾಡಲಿ ಎನ್ನುವಾಗ ಒಳ್ಳೆಯ ಹಾರೈಕೆಯೂ, ಅವರು 
ಪಾಠವನ್ನು ಓದಲಿ ಎನ್ನುವಾಗ ಸಮ್ಮತಿಯೂ, ನೀನು ಆ ಕೆಲಸವನ್ನು ಮಾಡು ಎನ್ನುವಲ್ಲಿ ಆಜ್ಞೆಯೂ, ಅವನಿಗೆ ಜಯವಾಗಲಿ ಎನ್ನುವಾಗ ಆಶೀರ್ವಾದವೂ, ಅವನು ಹಾಳಾಗಿ ಹೋಗಲಿ 
ಎನ್ನುವಾಗ ಕೆಟ್ಟ ಹಾರೈಕೆಯೂ ತೋರಿಬರುತ್ತದೆ.
ಹೀಗೆ ಒಂದು ಕ್ರಿಯೆಯ ವಿಷಯದಲ್ಲಿ ವಿಧಿ ತೋರುವುದೇ ವಿಧ್ಯರ್ಥ ಎನಿಸುವುದು.  ಇದಕ್ಕೆ ಸೂತ್ರವನ್ನು ಈ ಕೆಳಗಿನಂತೆ ಹೇಳಬಹುದು.
ವಿಧ್ಯರ್ಥಕ ಕ್ರಿಯಾಪದಗಳು:- ಆಶೀರ್ವಾದ, ಅಪ್ಪಣೆ, ಆಜ್ಞೆ, ಹಾರೈಕೆ ಇವುಗಳು ತೋರುವಾಗ ಧಾತುಗಳಿಗೆ ಆಖ್ಯಾತಪ್ರತ್ಯಯಗಳು ಸೇರಿ ವಿಧ್ಯರ್ಥಕ ಕ್ರಿಯಾಪದಗಳೆನಿಸುವುವು.
ಉದಾಹರಣೆಗೆ:- ಮಾಡು’ ಧಾತು (ಇಲ್ಲಿ ಯಾವ ಕಾಲಸೂಚಕ ಪ್ರತ್ಯಯಗಳೂ ಬರುವುದಿಲ್ಲ)

ಧಾತು + ಆಖ್ಯಾತ ಪ್ರತ್ಯಯ	ಏಕವಚನ	ಬಹುವಚನ
(ಪ್ರಥಮ ಪುರುಷ, ಪುಲ್ಲಿಂಗ) ಅವನು	ಮಾಡು+          ಅಲಿ	ಮಾಡಲಿ	ಮಾಡಲಿ
(ಪ್ರಥಮಪುರುಷ, ಸ್ತ್ರೀ ಲಿಂಗ) ಅವಳು	ಮಾಡು +ಅಲಿ	ಮಾಡಲಿ	ಮಾಡಲಿ
(ಪ್ರ. ಪು. , ನಪುಂಸಕ ಲಿಂಗ) ಅದು	ಮಾಡು+ಅಲಿ	ಮಾಡಲಿ	ಮಾಡಲಿ
(ಮಧ್ಯಮ ಪುರುಷ) ನೀನು	ಮಾಡು+          ಅಲಿ*	ಮಾಡು	ಮಾಡಿರಿ
(ಉತ್ತಮ ಪುರುಷ) ನಾನು	ಮಾಡು+          ಎ	ಮಾಡುವೆ	ಮಾಡು+ವಾ=ಮಾಡುವಾ+



(ಮಾಡೋಣ, ಮಾಡುವ)
ಇಲ್ಲಿ ಪ್ರಥಮಪುರುಷದ ಏಕವಚನ, ಬಹುವಚನಗಳಲ್ಲಿ ಆರು ರೂಪಗಳೂ ಒಂದೇ ರೀತಿ ಇರುತ್ತವೆ.ಮಧ್ಯಮಪುರುಷ ಏಕವಚನದಲ್ಲಿ ಆಖ್ಯಾತಪ್ರತ್ಯಯ ಲೋಪವಾಗುವುದು.
ಬಹು ವಚನದಲ್ಲಿ ಇರಿ ಪ್ರತ್ಯಯವೂ, ಉತ್ತಮಪುರುಷ ಏಕವಚನದಲ್ಲಿ ಎ ಎಂಬುದೂ, ಬಹುವಚನ ದಲ್ಲಿ ವಾ, ಉವಾ, ವ, ಉವ, ಓಣ-ಇತ್ಯಾದಿ ಆಖ್ಯಾತ ಪ್ರತ್ಯಯಗಳು ಬರುವುದುಂಟು.

(೨) ನಿಷೇಧಾರ್ಥಕ ರೂಪಗಳು
(i) ಅವನು ಅನ್ನವನ್ನು ತಿನ್ನನು,
(ii) ಅವನು ಬಾರನು ಇತ್ಯಾದಿ ವಾಕ್ಯಗಳಲ್ಲಿ ಬಂದಿರುವ ತಿನ್ನನು, ಬಾರನು ಎಂಬ ಕ್ರಿಯಾಪದಗಳು ತಿನ್ನುವುದಿಲ್ಲ, ಬರುವುದಿಲ್ಲ-ಎಂಬ ಅರ್ಥದವು.  ಎಂದರೆ ಕ್ರಿಯೆಯು ನಡೆಯಲಿಲ್ಲ 
ಎಂಬರ್ಥವನ್ನು ಸೂಚಿಸುತ್ತವೆ.
ಕ್ರಿಯೆಯು ನಡೆಯಲಿಲ್ಲ ಎಂಬರ್ಥ ತೋರುವಾಗ ಧಾತುಗಳ ಮೇಲೆ ಆಖ್ಯಾತ ಪ್ರತ್ಯಯಗಳು ಸೇರಿ, ನಿಷೇಧಾರ್ಥಕ ಕ್ರಿಯಾಪದಗಳೆನಿಸುವುವು.
ಉದಾಹರಣೆಗೆ:- ತಿನ್ನು ಧಾತು

ಧಾತು+ಆಖ್ಯಾತ ಪ್ರತ್ಯಯ	
ಏಕವಚನ	ಬಹುವಚನ
(ಪ್ರಥಮ ಪುರುಷ, ಪುಲ್ಲಿಂಗ) ಅವನು	ತಿನ್ನು +ಅನು	=	ತಿನ್ನನು	-  ತಿನ್ನರು
(ಪ್ರಥಮಪುರುಷ, ಸ್ತ್ರೀಲಿಂಗ) ಅವಳು	ತಿನ್ನು +ಅಳು	=	ತಿನ್ನಳು	-  ತಿನ್ನರು
(ಪ್ರ. ಪು., ನಪುಂಸಕಲಿಂಗ) ಅದು	ತಿನ್ನು +ಅದು	=	ತಿನ್ನದು	-  ತಿನ್ನವು
(ಮಧ್ಯಮ ಪುರುಷ) ನೀನು-	ತಿನ್ನು+ಎ	=	ತಿನ್ನೆ	-  ತಿನ್ನರಿ
(ಉತ್ತಮ ಪುರುಷ) ನಾನು	ತಿನ್ನು +ಎನು	=	ತಿನ್ನೆನು	-  ತಿನ್ನೆವು
ಹೀಗೆ ಏಕವಚನದಲ್ಲಿ ಅನು, ಅಳು, ಅದು, ಎ, ಎನು ಎಂಬ ಆಖ್ಯಾತಪ್ರತ್ಯಯಗಳೂ, ಬಹುವಚನದಲ್ಲಿ ಅರು, ಅರು, ಅವು, ಅರಿ, ಎವು-ಎಂಬ ಆಖ್ಯಾತಪ್ರತ್ಯಯಗಳೂ ಎಲ್ಲ ಧಾತುಗಳ 
ಮೇಲೆ ಸೇರುತ್ತವೆ.
ಇನ್ನೊಂದು ವಿಶೇಷ ರೂಪದ ಉದಾಹರಣೆ ನೋಡಿರಿ
ಉದಾಹರಣೆಗೆ:- *ಬರು ಧಾತು

ಧಾತು+ಆಖ್ಯಾತ ಪ್ರತ್ಯಯ	=	ಏಕವಚನ	ಬಹುವಚನ
(ಪ್ರಥಮ ಪುರುಷ, ಪುಲ್ಲಿಂಗ) ಅವನು	ಬರು +ಅನು	=	ಬಾರನು	ಬಾರರು
(ಪ್ರ.ಪು., ಸ್ತ್ರೀಲಿಂಗ) ಅವಳು	ಬರು +ಅಳು	=	ಬಾರಳು	ಬಾರರು
(ಪ್ರ.ಪು.ನಪುಂಸಕಲಿಂಗ)	ಅದುಬರು +ಅದು	=	ಬಾರದು	ಬಾರವು
(ಮಧ್ಯಮ ಪುರುಷ) ನೀನು	ಬರು+ಎ	=	ಬಾರೆ	ಬಾರರಿ
(ಉತ್ತಮ ಪುರುಷ) ನಾನು	ಬರು +ಎನು	=	ಬಾರೆನು	ಬಾರೆವು

(೩) ಸಂಭಾವನಾರ್ಥಕ ರೂಪಗಳು
(i) ಅವನು ನಾಳೆ ಬಂದಾನು.
(ii) ಅನ್ನವನ್ನು ಆತ ತಿಂದಾನು.
(iii) ಅದು ಮೇಲಕ್ಕೆ ಏರೀತು.
ಇತ್ಯಾದಿ ವಾಕ್ಯಗಳಲ್ಲಿ ಬಂದಿರುವ ಬಂದಾನು, ತಿಂದಾನು, ಏರೀತು-ಎಂಬ ಕ್ರಿಯಾಪದಗಳು ಕಾರ‍್ಯ ನಡೆಯುವಲ್ಲಿ ಸಂಶಯ ಅಥವಾ ಊಹೆಯನ್ನು ತಿಳಿಸುತ್ತವೆ.  ಬಂದಾನು ಎಂಬಲ್ಲಿ 
ಬರುವ ವಿಷಯಲ್ಲಿ ಸಂಶಯವಾಗುತ್ತದಲ್ಲದೆ ನಿಶ್ಚಯವಿಲ್ಲ.  ಬಂದರೆ ಬರಬಹುದು ಅಥವಾ ಬಾರದೆಯೂ ಇರಬಹುದು.  ಇದರ ಹಾಗೆಯೇ ತಿಂದಾನು, ಏರೀತು-ಎಂಬಲ್ಲಿಯೂ ಕೂಡ 
ಸಂಶಯ, ಊಹೆಗಳು ತೋರುತ್ತವೆ.  ಇಂಥ ಕ್ರಿಯಾಪದಗಳೇ ಸಂಭಾವನಾರ್ಥಕ ಕ್ರಿಯಾಪದ ಗಳು.  ಇದಕ್ಕೆ ಸೂತ್ರವನ್ನು ಈ ಕೆಳಗಿನಂತೆ ಹೇಳಬಹುದು.
ಸಂಭಾವನಾರ್ಥಕ ಕ್ರಿಯಾಪದ:- ಕ್ರಿಯೆಯು ನಡೆಯುವಿಕೆಯಲ್ಲಿ ಸಂಶಯ ಅಥವಾ ಊಹೆ ತೋರುವಲ್ಲಿ ಧಾತುಗಳ ಮೇಲೆ ಆಖ್ಯಾತ ಪ್ರತ್ಯಯಗಳು ಸೇರಿ ಸಂಭಾವನಾರ್ಥಕ 
ಕ್ರಿಯಾಪದಗಳೆನಿಸುವುವು.
ಉದಾಹರಣೆಗೆ:- ಹೋಗು ಧಾತು

ಧಾತು +ಆಖ್ಯಾತ ಪ್ರತ್ಯಯ	
ಕ್ರಿಯಾಪದ
ಏಕವಚನ	ಬಹುವಚನ
(ಪ್ರಥಮ ಪುರುಷ, ಪುಲ್ಲಿಂಗ) ಅವನು	ಹೋಗು +ಆನು	=	ಹೋದಾನು	ಹೋದಾರು
(ಪ್ರಥಮಪುರುಷ, ಸ್ತ್ರೀ ಲಿಂಗ) ಅವಳು	ಹೋಗು +ಆಳು	=	ಹೋದಾಳು	ಹೋದಾರು
(ಪ್ರ. ಪು. , ನಪುಂಸಕ ಲಿಂಗ) ಅದು	ಹೋಗು+ಈತು	=	ಹೋದೀತು	ಹೋದಾವು
(ಮಧ್ಯಮ ಪುರುಷ) ನೀನು	ಹೋಗು+ಈಯೆ	=	ಹೋದೀಯೆ	ಹೋದೀರಿ
(ಉತ್ತಮ ಪುರುಷ) ನಾನು	ಹೋಗು+ಏನು	=	ಹೋದೇನು	ಹೋದೇವು
ಹೋಗು ಎಂಬ ಧಾತುವಿನ ಮೇಲೆ ಸಂಭಾವನಾರ್ಥಕ ಆಖ್ಯಾತ ಪ್ರತ್ಯಯಗಳು ಸೇರಿದಾಗ ಧಾತುವಿನ ಕೊನೆಯ ಗು ಕಾರಕ್ಕೆ ದ ಕಾರ ಆದೇಶವಾಗಿ ಬರುವುದನ್ನು ಗಮನಿಸಿರಿ.  
ಇದರ ಹಾಗೆ ಎಲ್ಲಾ ಧಾತುಗಳಿಗೂ ಏಕವಚನದಲ್ಲಿ ಆನು, ಆಳು, ಈತು, ಈಯೆ, ಏನು-ಎಂಬ ಆಖ್ಯಾತ ಪ್ರತ್ಯಯಗಳನ್ನೂ ಬಹುವಚನದಲ್ಲಿ ಆರು, ಆರು, ಆವು, ಈರಿ, ಏವು ಎಂಬ 
ಆಖ್ಯಾತ ಪ್ರತ್ಯಯಗಳನ್ನೂ ಸೇರಿಸಿ ಹೇಳಬೇಕು.
</pre></h3></p>
</body>
</html>