<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sample</title>
	<link rel="stylesheet" href="as.css">
</head>
<body bgcolor="grey">
<form align="center" method="POST" action="/vs1">
	<br><br><br><br>
	<h2>Enter the Word(ಪದವನ್ನು ಬರೆಯಿರಿ):  <input type="text" name="word" size="40"></h2>
		<a href="http://kannada.changathi.com/" target="_blank">For kannada word</a>

	<h2>Enter P,N,G:  <select name="ca">
  <option value="P1">Third person, Singular,Masculine gender</option>
  <option value="P2">Third person, Plural,Masculine gender</option>
  <option value="P3">Third person, Singular,Feminine gender</option>
  <option value="P4">Third person, Plural,Feminine gender</option>
  <option value="P5">Third person, Singular,Neuter gender</option>
  <option value="P6">Third person, Plural,Neuter gender</option>
  <option value="P7">Second person, Singular,All gender</option>
  <option value="P8">Second person, Plural,All gender</option>
  <option value="P9">First person, Singular,All gender</option>
  <option value="P10">First person, Plural,All gender</option></select></h2>
	<h2>Enter the Tense: &nbsp;&emsp; <select name="te">
  <option value="R">Present tense</option>
  <option value="S">Past tense</option>
  <option value="F">Future tense</option></select></h2>
	<h2><input type="submit" name="Submit"></h2>
</form>	
</body>
</html>